
*{
    font-family: "Freeman", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F1F1F1;

}

body {
    
    
    padding: 0;
}

img {
    border-radius: 8px;
    background-size: cover;
}

.textoPorCima{
    display: flex;
    position: relative;
    left: 25%;
}

.h1Header {
    position: relative;
    left: 126px;

}





.imageHeader {
    width: 1152px;
    max-width: 1152px;
    height: 172px;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;

}

.alignImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoHeader {
    height: 142px;
    width: 142px;
    top: 130px;
    left: 423px;
    position: absolute;
    border-radius: 8px;
    z-index: 1;
}

.mainLogo{
    display: flex;
}

.info {
    width: 32px;
    height: 32px;
    position: relative;
    left: 134px;
    top: 10px;
}

.share {
    width: 32px;
    height: 32px;
    position: relative;
    left: 138px;
    top: 10px;
}

.buttonVerMapa {
    position: relative;
    left: 580px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px; 
    
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
    cursor: pointer;
    position: relative;
}

.buttonVerMapa:hover {
    background-color: #45a049;
}

.estiloButton {
    height: 32px;
    padding: 8px 12px;
}

main {
    margin: 2rem;
}

.btn-verde {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
    cursor: pointer;
    bottom: 60px;
    position: relative;
    left: 39%;
}

.btn-verde:hover {
    background-color: #45a049;
}

.btn-verde:focus {
    outline: none; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.displayFlexUl {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 15px;
    width: 1000px;
}



li {
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,1.0);
}

li h3 {
    
    text-transform: uppercase;
    line-height: 22px;
    cursor: pointer;
    font-weight: 400 bolder;
    font-size: 16px;
    text-align: center;
}

li p {
    font-size: 12px;
    line-height: 1.2 !important;
    line-break: anywhere;
    text-align: left;
    font-weight: 300;
    word-break: break-word;
    text-transform: lowercase;
    color: #65181880;
}

li span {
    color: var(--font-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

li input[type="number"] {
    width: 50px;
    margin-right: 10px;
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

}

.botaoAdicionar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease;
}
.botaoAdicionar.changed {
    background-color: #c2a710; /* Nova cor do botão após o clique */
}

.botaoAdicionar:hover {
    background-color: #285f2a;
}

footer {
    text-align: center;
    margin: 2rem 0;
}

.gridItens{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.gridProducts {
    border: 1px solid #ddd;
    padding: 20px;
    display: flex;
    align-items: center;
}

.entradas {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

#sendOrder {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#sendOrder:hover {
    background-color: #1ebd50;
}

.main-content {
    
    background-color: #ffffff; 
    box-shadow: 0 0 2px rgba(0,0,0,1.0);
    
}

.gridProductsSpace {
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
}

.gridProductsImage {
    margin-right: 16px;
}

@media (max-width: 768px) {
    .text-overlay h1 {
        font-size: 1.5em;
    }

    .text-overlay h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .text-overlay h1 {
        font-size: 1.2em;
    }

    .text-overlay h2 {
        font-size: 1em;
    }
}
a {
    font-size: 33px;
    text-decoration: none; /* Remove o sublinhado */
    color: black; /* Cor inicial dos links */
    
}

/* Muda a cor dos links quando o mouse passa sobre eles */
a:hover {
    color: rgb(255, 0, 0); /* Cor ao passar o mouse */
}

.cart-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.cart-popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cartItems {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cartItems li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#cartItems li span {
    flex-grow: 1;
}

#cartItems button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#cartItems button:hover {
    background-color: #ff1a1a;
}

#cartItems ul{

    display: flex !important;

}

#hamburgueres{

    position: relative;
    right: 0px;
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.link-container{
    margin-top: 45px;
    display: flex;
    gap: 25px;
    font-weight: bolder;
    border: 1px solid rgb(221, 221, 221);
    padding: 3px 35px;
    border-radius: 8px;
}

#pizza{

    position: relative;
    right: 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#batata_frita{

    position: relative;
    right: 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#bebidas{

    position: relative;
    right: 0px;
   
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#openCartButton {

    cursor: pointer;
    height: 60px;
    position: relative;
    top: 21px;
    left: 28px;
    

}

.menu-link{

    border-right: 1px solid #ddd;
    padding-right: 29px;
    padding-left: 1px;
    
    
}

.gridProducts {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    margin-bottom: 10px;
}

.gridProductsImage {
    width: 100px;
}

.gridProductsSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botaoAdicionar {
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.popup-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 32px;
    border: 1px solid #888;
    width: 18%;
    position: relative;
    left: 0px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.imagempopup {
    position: relative;
    left: -34px;
    width: 305px;
    top: 38px;
}




.sticky-element {
    display: flex;
    padding: 0px;
    transition: all 0.3s ease 0s;
    align-items: center;
    justify-content: center;
}

.sticky-element.sticky {
    position: fixed;
    top: -45px;
    width: 100%;
    z-index: 1000;
    background-color: #F1F1F1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    left: 0px;
}

